

.contanier{
  width: 25%;
  border: 1px solid black;
  padding: 10px;
  margin-top: 40px;
  margin-left: 400px;
  background-color: white;
  
 
}
h1{
  text-align: center;
  padding: 20px;
}
input{
  width: 100%;
 font-size: larger;
 font-weight: 400;
 border: 1px solid #f1e7e7;
box-shadow: 0px 2px 2px 0px;
}
input:focus{
  background-color: aquamarine;
}
label{
font-size: larger;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
}
button{
  width: 100%;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: blue;
  border: none;
}
p{
  color: red;
}

.Sign{
  text-align: center;
  font-size: larger;
  width: 90%;
 background-color: rgb(204, 182, 224);
}